.gameusername{
    display: block;
}
.gameusername .article-top{
    padding:8vh 0;
    margin: 0 0;
}
#carousel>div:last-child{
    margin: 5% 0;
}
input{
    border-radius:15px;
    background-color: #e2e2e2 !important;
    border: solid 1px #e2e2e2 ;
    color: #6C757D !important;
    
    /* border-radius: 10px 10px; */
}
input.form-control.is-invalid{
    background: none;
    padding-right:.75rem ;
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}
.gameusername .h1{
    color: #ED5C20;
}
input::placeholder { color: #FFFFFF; }
.btn{
    border-radius:15px;
}
#article-btn{
    padding: 0 0;
}
#article-btn>button{
    background: #F8931D;
    margin: 0 25%;
    color: #FFFFFF;
    opacity: 1;
    transition: all 0.6s ease-in-out;
    letter-spacing: 1px;
}
#article-btn>button:hover{
    opacity: 0.8;
    transform: scale(1.1);    
}