.questionadding3 {
    display: none;
}

.q3-article-top {
    padding: 2vh 0;
    margin: 0 0;
}

#categorybtn {
    background-color: #e2e2e2;
    color: #FFFFFF;
    width: 60%;
    border-radius: 10px;
}

#categorybtn:hover {
    background-color: #c2c2c2;
    color: #FFFFFF;
}

.q3-main {
    border: 2px solid #F8931D;
    background-color: #FFFFFF;
    border-radius: 2rem;
    margin: 10% 10%;
}

.questionadding3 input {
    width: max-content;
    border-radius: 10px;
    background-color: #e2e2e2 !important;
    border: solid 1px #e2e2e2 !important;
    margin-bottom: 2%;
    /* border-radius: 10px 10px; */
}

.questionadding3 input::placeholder {
    color: #FFFFFF !important;
}

.btn {
    border-radius: 15px;
}

#article-btn>button {
    background: #F8931D;
    margin: 0 25%;
    color: #FFFFFF;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

#article-btn>button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.bottom {
    margin: 0 5% 3% 5%;
    width: min-content;
}
#GameCategoryModal .btn-close{
    opacity: 1  !important;
}
#GameCategoryModal .modal-header h4{
    font-size: smaller !important;
}